{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Hero Section-->
{% include 'slider.html' %}
<!-- Our picks section-->
<section>
    <div class="container py-6">
        <div class="row">
            <div class="col-xl-8 mx-auto text-center mb-5">
                <h2 class="text-uppercase">Our picks for Winter 2018 </h2>
                <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="row align-items-md-stretch">
            <div class="col-lg-4 d-flex align-items-lg-stretch position-relative">
                <div class="d-flex align-items-center text-white border-0 w-100 py-6 py-lg-4 text-center mb-4 mb-lg-0"
                    style="background: center center url({% static 'img/photo/rahul-anil-214671-unsplash.jpg' %}) no-repeat; background-size: cover;">
                    <a class="tile-link" href="category.html"> </a>
                    <div class="w-100">
                        <h1 class="text-uppercase">Men</h1>
                        <p class="lead">Consectetur adipisicing elit sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card light-overlay position-relative text-dark border-0 mb-4"><img class="card-img"
                        src="{% static 'img/photo/pete-bellis-189599-unsplash.jpg' %}" alt="Card image"><a class="tile-link"
                        href="category.html"> </a>
                    <div class="card-img-overlay d-flex align-items-center">
                        <div class="text-center w-100 overlay-content">
                            <h1 class="text-uppercase">Ladies</h1>
                            <p class="lead">Consectetur adipisicing elit sed do eiusmod tempor.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card text-white position-relative border-0 mb-lg-0 mb-4"><img class="card-img"
                                src="{% static 'img/photo/haley-phelps-62815-unsplash.jpg' %}" alt="Card image"><a class="tile-link"
                                href="category.html"> </a>
                            <div class="card-img-overlay d-flex align-items-center">
                                <div class="text-center w-100">
                                    <h2 class="text-uppercase mb-0">Denim</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card position-relative dark-overlay text-white border-0 mb-lg-0 mb-4"><img
                                class="card-img" src="{% static 'img/photo/matese-fields-233175-unsplash.jpg' %}" alt="Card image"><a
                                class="tile-link" href="category.html"> </a>
                            <div class="card-img-overlay d-flex align-items-center">
                                <div class="text-center w-100 overlay-content">
                                    <h4 class="text-uppercase mb-0">Accessories</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card position-relative text-white border-0"><img class="card-img"
                                src="{% static 'img/photo/brooke-cagle-195856-unsplash.jpg' %}" alt="Card image"><a class="tile-link"
                                href="category.html"> </a>
                            <div class="card-img-overlay d-flex align-items-center">
                                <div class="text-center w-100">
                                    <h2 class="text-uppercase mb-0">Sales</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 bg-gray-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mx-auto text-center mb-5">
                <h2 class="text-uppercase">Your favourites</h2>
                <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <!-- Products Slider-->
        <div class="owl-carousel owl-theme product-slider">
            <!-- product-->
            <div class="product-slider-item">
                <div class="product">
                    <div class="product-image"><img class="img-fluid" src="img/product/serrah-galos-494231-unsplash.jpg"
                            alt="product" />
                        <div class="product-hover-overlay"><a class="product-hover-overlay-link" href="detail.html"></a>
                            <div class="product-hover-overlay-buttons"><a class="btn btn-dark btn-buy"
                                    href="detail.html"><i class="fa-search fa"></i><span
                                        class="btn-buy-label ms-2">View</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <p class="text-muted text-sm mb-1">Jackets</p>
                        <h3 class="h6 text-uppercase mb-1"><a class="text-dark" href="detail.html">Striped T-Shirt</a>
                        </h3><span class="text-muted">$40.00</span>
                    </div>
                </div>
            </div>
            <!-- /product-->
            <!-- product-->
            <div class="product-slider-item">
                <div class="product">
                    <div class="product-image"><img class="img-fluid"
                            src="img/product/averie-woodard-319832-unsplash.jpg" alt="product" />
                        <div class="product-hover-overlay"><a class="product-hover-overlay-link" href="detail.html"></a>
                            <div class="product-hover-overlay-buttons"><a class="btn btn-dark btn-buy"
                                    href="detail.html"><i class="fa-search fa"></i><span
                                        class="btn-buy-label ms-2">View</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <p class="text-muted text-sm mb-1">Shirts</p>
                        <h3 class="h6 text-uppercase mb-1"><a class="text-dark" href="detail.html">Short top</a></h3>
                        <span class="text-muted">$40.00</span>
                    </div>
                </div>
            </div>
            <!-- /product-->
            <!-- product-->
            <div class="product-slider-item">
                <div class="product">
                    <div class="product-image">
                        <div class="ribbon ribbon-danger">Sold out</div><img class="img-fluid"
                            src="img/product/serrah-galos-494279-unsplash.jpg" alt="product" />
                        <div class="product-hover-overlay"><a class="product-hover-overlay-link" href="detail.html"></a>
                            <div class="product-hover-overlay-buttons"><a class="btn btn-dark btn-buy"
                                    href="detail.html"><i class="fa-search fa"></i><span
                                        class="btn-buy-label ms-2">View</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <p class="text-muted text-sm mb-1">Sweaters</p>
                        <h3 class="h6 text-uppercase mb-1"><a class="text-dark" href="detail.html">Ethnic Sweater</a>
                        </h3><span class="text-muted">$40.00</span>
                    </div>
                </div>
            </div>
            <!-- /product-->
            <!-- product-->
            <div class="product-slider-item">
                <div class="product">
                    <div class="product-image"><img class="img-fluid"
                            src="img/product/dmitriy-ilkevich-437760-unsplash.jpg" alt="product" />
                        <div class="product-hover-overlay"><a class="product-hover-overlay-link" href="detail.html"></a>
                            <div class="product-hover-overlay-buttons"><a class="btn btn-dark btn-buy"
                                    href="detail.html"><i class="fa-search fa"></i><span
                                        class="btn-buy-label ms-2">View</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <p class="text-muted text-sm mb-1">Coats</p>
                        <h3 class="h6 text-uppercase mb-1"><a class="text-dark" href="detail.html">Beige</a></h3><span
                            class="text-muted">$40.00</span>
                    </div>
                </div>
            </div>
            <!-- /product-->
            <!-- product-->
            <div class="product-slider-item">
                <div class="product">
                    <div class="product-image"><img class="img-fluid" src="img/product/ian-dooley-347968-unsplash.jpg"
                            alt="product" />
                        <div class="product-hover-overlay"><a class="product-hover-overlay-link" href="detail.html"></a>
                            <div class="product-hover-overlay-buttons"><a class="btn btn-dark btn-buy"
                                    href="detail.html"><i class="fa-search fa"></i><span
                                        class="btn-buy-label ms-2">View</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <p class="text-muted text-sm mb-1">T-Shirts</p>
                        <h3 class="h6 text-uppercase mb-1"><a class="text-dark" href="detail.html">Skull Tee</a></h3>
                        <span class="text-muted">$40.00</span>
                    </div>
                </div>
            </div>
            <!-- /product-->
            <!-- product-->
            <div class="product-slider-item">
                <div class="product">
                    <div class="product-image"><img class="img-fluid"
                            src="img/product/alex-holyoake-571682-unsplash.jpg" alt="product" />
                        <div class="product-hover-overlay"><a class="product-hover-overlay-link" href="detail.html"></a>
                            <div class="product-hover-overlay-buttons"><a class="btn btn-dark btn-buy"
                                    href="detail.html"><i class="fa-search fa"></i><span
                                        class="btn-buy-label ms-2">View</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <p class="text-muted text-sm mb-1">Denim</p>
                        <h3 class="h6 text-uppercase mb-1"><a class="text-dark" href="detail.html">Trucker jacket</a>
                        </h3><span class="text-muted">$40.00</span>
                    </div>
                </div>
            </div>
            <!-- /product-->
            <!-- product-->
            <div class="product-slider-item">
                <div class="product">
                    <div class="product-image"><img class="img-fluid" src="img/product/ao-456813-unsplash.jpg"
                            alt="product" />
                        <div class="product-hover-overlay"><a class="product-hover-overlay-link" href="detail.html"></a>
                            <div class="product-hover-overlay-buttons"><a class="btn btn-dark btn-buy"
                                    href="detail.html"><i class="fa-search fa"></i><span
                                        class="btn-buy-label ms-2">View</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <p class="text-muted text-sm mb-1">Denim</p>
                        <h3 class="h6 text-uppercase mb-1"><a class="text-dark" href="detail.html">Blouse</a></h3><span
                            class="text-muted">$40.00</span>
                    </div>
                </div>
            </div>
            <!-- /product-->
            <!-- product-->
            <div class="product-slider-item">
                <div class="product">
                    <div class="product-image"><img class="img-fluid" src="img/product/kyle-loftus-592041-unsplash.jpg"
                            alt="product" />
                        <div class="product-hover-overlay"><a class="product-hover-overlay-link" href="detail.html"></a>
                            <div class="product-hover-overlay-buttons"><a class="btn btn-dark btn-buy"
                                    href="detail.html"><i class="fa-search fa"></i><span
                                        class="btn-buy-label ms-2">View</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <p class="text-muted text-sm mb-1">Denim</p>
                        <h3 class="h6 text-uppercase mb-1"><a class="text-dark" href="detail.html">Shirt</a></h3><span
                            class="text-muted">$40.00</span>
                    </div>
                </div>
            </div>
            <!-- /product-->
        </div>
    </div>
</section>
<section class="py-6">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mx-auto text-center mb-5">
                <h3 class="text-uppercase">From our journal</h3>
                <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="row">
            <!-- post-->
            <div class="col-lg-4 col-6">
                <div class="mb-4"><a href="post.html"><img class="img-fluid"
                            src="img/photo/kyle-loftus-596319-unsplash.jpg" alt="..."></a>
                    <div class="mt-3"><small class="text-uppercase text-muted">Fashion and style </small>
                        <h5 class="my-2"><a class="text-dark" href="post.html">Pellentesque habitant morbi </a></h5>
                        <p class="text-gray-500 text-sm my-3"><i class="far fa-clock me-2"></i>January 16, 2016</p>
                        <p class="my-2 text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada
                            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit
                            amet, ante. Aenean ultricies mi vitae est. </p><a class="btn btn-link text-gray-700 ps-0"
                            href="post.html">Read more<i class="fa fa-long-arrow-alt-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <!-- /post end-->
            <!-- post-->
            <div class="col-lg-4 col-6">
                <div class="mb-4"><a href="post.html"><img class="img-fluid"
                            src="img/photo/marion-michele-330691-unsplash.jpg" alt="..."></a>
                    <div class="mt-3"><small class="text-uppercase text-muted">Fashion and style </small>
                        <h5 class="my-2"><a class="text-dark" href="post.html">Best books about Fashion </a></h5>
                        <p class="text-gray-500 text-sm my-3"><i class="far fa-clock me-2"></i>January 16, 2016</p>
                        <p class="my-2 text-muted">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit
                            amet, ante. Mauris placerat eleifend leo.</p><a class="btn btn-link text-gray-700 ps-0"
                            href="post.html">Read more<i class="fa fa-long-arrow-alt-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <!-- /post end-->
            <!-- post-->
            <div class="col-lg-4 col-6">
                <div class="mb-4"><a href="post.html"><img class="img-fluid"
                            src="img/photo/kyle-loftus-589739-unsplash-cropped.jpg" alt="..."></a>
                    <div class="mt-3"><small class="text-uppercase text-muted">Fashion and style </small>
                        <h5 class="my-2"><a class="text-dark" href="post.html">Best books about Fashion </a></h5>
                        <p class="text-gray-500 text-sm my-3"><i class="far fa-clock me-2"></i>January 16, 2016</p>
                        <p class="my-2 text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada
                            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae. Aenean ultricies mi vitae
                            est. Mauris placerat eleifend leo.</p><a class="btn btn-link text-gray-700 ps-0"
                            href="post.html">Read more<i class="fa fa-long-arrow-alt-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <!-- /post end-->
        </div>
    </div>
</section>
<!-- Divider Section-->
<section class="py-6 position-relative light-overlay"><img class="bg-image"
        src="img/photo/benjamin-voros-260869-unsplash.jpg" alt="">
    <div class="container">
        <div class="overlay-content text-center text-dark">
            <p class="text-uppercase fw-bold mb-1 letter-spacing-5">Old Collection </p>
            <h3 class="display-1 fw-bold text-serif mb-4">Summer Sales</h3><a class="btn btn-dark"
                href="category.html">Shop Now</a>
        </div>
    </div>
</section>
<!-- Brands Section-->
<section class="py-6 brands">
    <div class="container">
        <h4 class="text-uppercase text-center mb-5">Our brands</h4>
        <!-- Brands Slider-->
        <div class="owl-carousel owl-theme brands-slider">
            <!-- item-->
            <div class="item d-flex align-items-center justify-content-center">
                <div class="w-6rem"><img class="img-fluid" src="{% static 'img/brand/brand-1.svg' %}" alt="Brand 1"></div>
            </div>
            <!-- item-->
            <div class="item d-flex align-items-center justify-content-center">
                <div class="w-6rem"><img class="img-fluid" src="{% static 'img/brand/brand-2.svg' %}" alt="Brand 2"></div>
            </div>
            <!-- item-->
            <div class="item d-flex align-items-center justify-content-center">
                <div class="w-6rem"><img class="img-fluid" src="{% static 'img/brand/brand-3.svg' %}" alt="Brand 3"></div>
            </div>
            <!-- item-->
            <div class="item d-flex align-items-center justify-content-center">
                <div class="w-6rem"><img class="img-fluid" src="{% static 'img/brand/brand-4.svg' %}" alt="Brand 4"></div>
            </div>
            <!-- item-->
            <div class="item d-flex align-items-center justify-content-center">
                <div class="w-6rem"><img class="img-fluid" src="img/brand/brand-5.svg" alt="Brand 5"></div>
            </div>
            <!-- item-->
            <div class="item d-flex align-items-center justify-content-center">
                <div class="w-6rem"><img class="img-fluid" src="img/brand/brand-6.svg" alt="Brand 6"></div>
            </div>
            <!-- item-->
            <div class="item d-flex align-items-center justify-content-center">
                <div class="w-6rem"><img class="img-fluid" src="img/brand/brand-1.svg" alt="Brand 1"></div>
            </div>
            <!-- item-->
            <div class="item d-flex align-items-center justify-content-center">
                <div class="w-6rem"><img class="img-fluid" src="img/brand/brand-2.svg" alt="Brand 2"></div>
            </div>
            <!-- item-->
            <div class="item d-flex align-items-center justify-content-center">
                <div class="w-6rem"><img class="img-fluid" src="img/brand/brand-3.svg" alt="Brand 3"></div>
            </div>
            <!-- item-->
            <div class="item d-flex align-items-center justify-content-center">
                <div class="w-6rem"><img class="img-fluid" src="img/brand/brand-4.svg" alt="Brand 4"></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}