{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Hero Section-->

<!-- Our picks section-->
<section>
    <div class="container py-6">
        {% include 'includes/alerts.html' %}
        {% include 'slider.html' %}
        
        <div class="row">
            <div class="col-xl-8 mx-auto text-center mb-5">
                <h2 class="text-uppercase">Our picks for Winter 2018 </h2>
                <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="row align-items-md-stretch">
            <div class="col-lg-4 d-flex align-items-lg-stretch position-relative">
                <div class="d-flex align-items-center text-white border-0 w-100 py-6 py-lg-4 text-center mb-4 mb-lg-0"
                    style="background: center center url({% static 'img/photo/rahul-anil-214671-unsplash.jpg' %}) no-repeat; background-size: cover;">
                    <a class="tile-link" href="#"> </a>
                    <div class="w-100">
                        <h1 class="text-uppercase">Men</h1>
                        <p class="lead">Consectetur adipisicing elit sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card light-overlay position-relative text-dark border-0 mb-4"><img class="card-img"
                        src="{% static 'img/photo/pete-bellis-189599-unsplash.jpg' %}" alt="Card image"><a class="tile-link"
                        href="#"> </a>
                    <div class="card-img-overlay d-flex align-items-center">
                        <div class="text-center w-100 overlay-content">
                            <h1 class="text-uppercase">Ladies</h1>
                            <p class="lead">Consectetur adipisicing elit sed do eiusmod tempor.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card text-white position-relative border-0 mb-lg-0 mb-4"><img class="card-img"
                                src="{% static 'img/photo/haley-phelps-62815-unsplash.jpg' %}" alt="Card image"><a class="tile-link"
                                href="#"> </a>
                            <div class="card-img-overlay d-flex align-items-center">
                                <div class="text-center w-100">
                                    <h2 class="text-uppercase mb-0">Denim</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card position-relative dark-overlay text-white border-0 mb-lg-0 mb-4"><img
                                class="card-img" src="{% static 'img/photo/matese-fields-233175-unsplash.jpg' %}" alt="Card image"><a
                                class="tile-link" href="#"> </a>
                            <div class="card-img-overlay d-flex align-items-center">
                                <div class="text-center w-100 overlay-content">
                                    <h4 class="text-uppercase mb-0">Accessories</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card position-relative text-white border-0"><img class="card-img"
                                src="{% static 'img/photo/brooke-cagle-195856-unsplash.jpg' %}" alt="Card image"><a class="tile-link"
                                href="#"> </a>
                            <div class="card-img-overlay d-flex align-items-center">
                                <div class="text-center w-100">
                                    <h2 class="text-uppercase mb-0">Sales</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 bg-gray-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mx-auto text-center mb-5">
                <h2 class="text-uppercase">Explore Your Favorite Categories</h2>
                <p class="lead text-muted">Your Favorites Just For You</p>
                <div class="row pt-6 justify-content-center">
                    {% for cat in categories %}
                    <div class="col-md-6">
                        <a href="{% url 'category' %}" class="btn btn-lg btn-outline-dark">{{cat.category_name}}</a>
                        <!-- <a href="{% url 'category' %}" class="btn btn-outline-dark">Nightsuits</a> -->
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <!-- Products Slider-->
        
    </div>
</section>
<section class="py-6">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mx-auto text-center mb-5">
                <h3 class="text-uppercase">From our journal</h3>
                <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="row">
            <!-- post-->
            <div class="col-lg-4 col-6">
                <div class="mb-4"><a href="post.html"><img class="img-fluid"
                            src="{% static 'img/photo/kyle-loftus-596319-unsplash.jpg' %}" alt="..."></a>
                    <div class="mt-3"><small class="text-uppercase text-muted">Fashion and style </small>
                        <h5 class="my-2"><a class="text-dark" href="post.html">Pellentesque habitant morbi </a></h5>
                        <p class="text-gray-500 text-sm my-3"><i class="far fa-clock me-2"></i>January 16, 2016</p>
                        <p class="my-2 text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada
                            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit
                            amet, ante. Aenean ultricies mi vitae est. </p><a class="btn btn-link text-gray-700 ps-0"
                            href="post.html">Read more<i class="fa fa-long-arrow-alt-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <!-- /post end-->
            <!-- post-->
            <div class="col-lg-4 col-6">
                <div class="mb-4"><a href="post.html"><img class="img-fluid"
                            src="{% static 'img/photo/marion-michele-330691-unsplash.jpg' %}" alt="..."></a>
                    <div class="mt-3"><small class="text-uppercase text-muted">Fashion and style </small>
                        <h5 class="my-2"><a class="text-dark" href="post.html">Best books about Fashion </a></h5>
                        <p class="text-gray-500 text-sm my-3"><i class="far fa-clock me-2"></i>January 16, 2016</p>
                        <p class="my-2 text-muted">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit
                            amet, ante. Mauris placerat eleifend leo.</p><a class="btn btn-link text-gray-700 ps-0"
                            href="post.html">Read more<i class="fa fa-long-arrow-alt-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <!-- /post end-->
            <!-- post-->
            <div class="col-lg-4 col-6">
                <div class="mb-4"><a href="post.html"><img class="img-fluid"
                            src="{% static 'img/photo/kyle-loftus-589739-unsplash-cropped.jpg' %}" alt="..."></a>
                    <div class="mt-3"><small class="text-uppercase text-muted">Fashion and style </small>
                        <h5 class="my-2"><a class="text-dark" href="post.html">Best books about Fashion </a></h5>
                        <p class="text-gray-500 text-sm my-3"><i class="far fa-clock me-2"></i>January 16, 2016</p>
                        <p class="my-2 text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada
                            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae. Aenean ultricies mi vitae
                            est. Mauris placerat eleifend leo.</p><a class="btn btn-link text-gray-700 ps-0"
                            href="post.html">Read more<i class="fa fa-long-arrow-alt-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <!-- /post end-->
        </div>
    </div>
</section>
<!-- Divider Section-->
<section class="py-6 position-relative light-overlay"><img class="bg-image"
        src="{% static 'img/photo/benjamin-voros-260869-unsplash.jpg' %}" alt="">
    <div class="container">
        <div class="overlay-content text-center text-dark">
            <p class="text-uppercase fw-bold mb-1 letter-spacing-5">Old Collection </p>
            <h3 class="display-1 fw-bold text-serif mb-4">Summer Sales</h3><a class="btn btn-dark"
                href="category.html">Shop Now</a>
        </div>
    </div>
</section>

{% endblock %}