{% load static %}


    <div class="row pb-5 text-center dashboard_section">
        <h5 class="fw-bold text-center fs-3 mb-0">Welcome To Tsiraa</h5>
        <small class="pb-5 text-secondary">The most wonderful ecommerce on planet!</small>
        <div class="autoplay">
        <div class="col-md-12"><img src="{% static 'img/photo/kyle-loftus-589740-unsplash.jpg' %}" alt="" class=" img-fluid rounded"></div>
        <div class="col-md-12"><img src="{% static 'img/photo/kyle-loftus-589740-unsplash.jpg' %}" alt="" class="img-fluid border rounded-2"></div>
        <div class="col-md-12"><img src="{% static 'img/photo/kyle-loftus-589740-unsplash.jpg' %}" alt="" class="img-fluid border rounded-2"></div>
        <div class="col-md-12"><img src="{% static 'img/photo/kyle-loftus-589740-unsplash.jpg' %}" alt="" class=" img-fluid rounded"></div>
        <div class="col-md-12"><img src="{% static 'img/photo/kyle-loftus-589740-unsplash.jpg' %}" alt="" class="img-fluid border rounded-2"></div>
        <div class="col-md-12"><img src="{% static 'img/photo/kyle-loftus-589740-unsplash.jpg' %}" alt="" class="img-fluid border rounded-2"></div>
        <div class="col-md-12"><img src="{% static 'img/photo/kyle-loftus-589740-unsplash.jpg' %}" alt="" class=" img-fluid rounded"></div>
        <div class="col-md-12"><img src="{% static 'img/photo/kyle-loftus-589740-unsplash.jpg' %}" alt="" class="img-fluid border rounded-2"></div>
        <div class="col-md-12"><img src="{% static 'img/photo/kyle-loftus-589740-unsplash.jpg' %}" alt="" class="img-fluid border rounded-2"></div>
        </div>
    </div>


