{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="hero">
        <div class="container">
            <!-- Breadcrumbs -->
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Customer zone </li>
            </ol>
            <!-- Hero Content-->
            <div class="hero-content pb-5 text-center">
                <h1 class="hero-heading mb-0">Customer zone</h1>
            </div>
        </div>
    </section>
    <!-- customer login-->
    <section>
        <div class="container dashboard_section">
            <div class="row justify-content-center">
                
                <div class="col-lg-5">
                    {% include 'includes/alerts.html' %}
                    <div class="block">
                        <div class="block-header">
                            <h6 class="text-uppercase mb-0">Login</h6>
                        </div>
                        <div class="block-body">
                            <p class="lead">Already our customer?</p>
                            
                            <hr>
                            <form action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                                <div class="mb-4">
                                    <label class="form-label" >Email</label>
                                    <input class="form-control" name='email'  type="text">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label" >Password</label>
                                    <input class="form-control"  name='password' type="password">
                                </div>
                                <div class="mb-4 text-center">
                                    <button class="btn btn-outline-dark float-start" type="submit"><i
                                            class="fa fa-sign-in-alt me-2"></i> Log in</button>
                                    <a class="btn btn-outline-dark float-end" href="{% url 'register' %}"><i
                                        class="fa fa-sign-in-alt me-2"></i>Register</a>
                                    <a class="btn btn-outline-dark" href="{% url 'forgotPassword' %}"><i class="fa-solid fa-unlock"></i>Forgot Pass</a>
                                </div>
                            
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    


{% endblock %}