{% extends 'base.html' %}
{% block content %}
<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Checkout </li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">Checkout</h1>
            <div class="row">
                <div class="col-xl-8 offset-xl-2">
                    <p class="lead text-muted">Please fill in your address.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Checkout-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <form action="{% url 'order' %}" method="POST">
                    {% csrf_token %}
                    <div class="block">
                        <!-- Invoice Address-->
                        <div class="block-header">
                            <h6 class="text-uppercase mb-0">Invoice address </h6>
                        </div>
                        <div class="block-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="" class="form-label">FIRST NAME</label>
                                    {{form.first_name}}
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="form-label">LAST NAME</label>
                                    {{form.last_name}}
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="" class="form-label">CONTACT NUMBER</label>
                                    {{form.phone}}
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="form-label">EMAIL ADDRESS</label>
                                    {{form.email}}
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="" class="form-label">ADDRESS LINE 1</label>
                                    {{form.address_line1}}
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="form-label">ADDRESS LINE 2</label>
                                    {{form.address_line2}}
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="" class="form-label">STATE</label>
                                    {{form.state}}
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="form-label">CITY</label>
                                    {{form.city}}
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="" class="form-label">LANDMARK</label>
                                    {{form.landmark}}
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="form-label">PIN CODE</label>
                                    {{form.zip}}
                                </div>
                                
                            </div>
                            <!-- /Invoice Address-->
                        </div>
                        <div class="block-header">
                            <h6 class="text-uppercase ">Payment and Shipping</h6>
                            <p>Prefered Shipping - DELHIVERY</p>
                            <p>Prefered Payment - RAZORPAY</p>
                        </div>
                       
                        
                    </div>
                    <div class="mb-5 d-flex justify-content-between flex-column flex-lg-row"><a
                            class="btn btn-link text-muted" href="{% url 'cart' %}"> <i
                                class="fa fa-angle-left me-2"></i>Back </a>
                            <button type="submit" class="btn btn-dark">Continue<i class="fa fa-angle-right ms-2"></i></button></div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="block mb-5">
                    <div class="block-header">
                        <h6 class="text-uppercase mb-0">Order Summary</h6>
                    </div>
                    <div class="block-body bg-light pt-1">
                        <p class="text-sm">Shipping and additional costs are calculated based on values you have
                            entered.</p>
                        <ul class="order-summary mb-0 list-unstyled">
                            <li class="order-summary-item"><span>Order Subtotal </span><span>INR {{sub_total}}</span></li>
                            <li class="order-summary-item"><span>Shipping and handling</span><span>0</span></li>
                            <li class="order-summary-item"><span>Tax</span><span>INR {{tax}}</span></li>
                            <li class="order-summary-item border-0"><span>Total</span><strong
                                    class="order-summary-total">INR {{grand_total}}</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}